/* Hero */
.hero {
  background-color: var(--bg-dark-color);
  letter-spacing: 0.06em;
  text-align: center;

  /* max-width: 1600px; */
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bcgpicturenew.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  outline: 2px solid tomato;
}

.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  padding-top: 195px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* Section */
.quality__title {
  color: var(--title-text-color);
  margin-bottom: 10px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.quality {
  padding-top: 89px;
  padding-bottom: 94px;

  display: flex;
  gap: 30px;
}

/* Works */

.works__list {
  display: flex;
  gap: 30px;
  padding-bottom: 94px;
}



.hero__button {
  margin-bottom: 205px;
}

/* Преимущества */
.quality__text {
  font-size: 14px;
  line-height: 1.71;
}

.quality__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-position: center;
  background-color: var(--bg-light-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* .quality__list::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bg-light-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(../imagescss/antenna.svg);
}

.icon-clock::before {
  background-image: url(../imagescss/clock.svg);
}

.icon-diagram::before {
  background-image: url(../imagescss/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../imagescss/astronaut.svg);
} */

/* Чем мы занимаэмся */
.works__label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;
}

.thumb {
  position: relative;
}

/* Team */
.team {
  background-color: var(--bg-light-color);
  outline: 2px solid tomato;
}

.team__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__list {
  display: flex;
  justify-content: space-between;
  /* gap: 30px; */
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__full-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-top: 30px;
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.webs__icon {
  fill: var(--primary-text-color);
}

.webs__item:hover .webs__icon,
.webs__item:focus .webs__icon {
  fill: var(--primary-white-color);
  transition: fill var(--animation);
}

/* .webs .link::before {
  content: "";
  display: block;

  outline: 1px solid red;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
} */

/* .webs .icon-instagram::before {
  background-image: url(../imagescss/instagram.svg);
}

.webs .icon-twiter::before {
  background-image: url(../imagescss/twitter.svg);
}

.webs .icon-facebook::before {
  background-image: url(../imagescss/facebook.svg);
}

.webs .icon-linkedin::before {
  background-image: url(../imagescss/linkedin.svg);
}

.webs .link:hover,
.webs .link:focus {
  background-color: var(--accent-color);
} */

/* Clients */
.clients__titel {
  color: var(--title-text-color);
}
.clients__list {
  display: flex;
  gap: 30px;
  padding-bottom: 94px;
}

.clients__item {
  padding: 16px 32px 16px 32px;
  width: 170px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
}

.clients__logo {
  fill: var(--border-color);
}

.clients__item:hover,
.clients__item:focus {
  border: 1px solid var(--accent-color);
  transition: solid var(--animation);
}

.clients__item:hover .clients__logo,
.clients__item:focus .clients__logo {
  fill: var(--accent-color);
  transition: fill var(--animation);
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background-color: var(--primary-white-color);

  display: flex;
  justify-content: end;
  align-items: start;
}

/* Form window */

.form__button {
  position: absolute;
  right: 0;
  top: 0;

  margin-top: 8px;
  margin-right: 8px;
}

.form__button--close {
  min-width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-text-color);
  background-color: var(--primary-white-color);
  transition: fill var(--animation), background-color var(--animation);
}

.form__button--close:hover,
.form__button--close:focus {
  fill: var(--accent-color);
  background-color: var(--primary-white-color);
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form {
  position: relative;
  width: 528px;
  outline: 1px solid tomato;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.form__field {
  outline: 1px solid blue;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__input {
  margin: 0;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;
  transition: border-color var(--animation);
}

.button__submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form__thumb {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--animation);
}

.form__input:focus ~ .form__icon {
  fill: var(--accent-color);
}

.form__input:focus,
.form__comment:focus {
  border-color: var(--accent-color);
}

/* Второй вариант для смены цвета иконки */
/* .thumb-form:focus-within > .icon-form {
  fill: var(--accent-color);
} */

/* .agreement__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
  /* width: 100%; */

.agreement__icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  margin-right: 7px;
}

.agreement__checkbox:checked + .agreement__icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon_check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.agreement {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.agreement__link {
  margin-left: 2px;
  color: var(--accent-color);
}
