.footer {
  background-color: var(--bg-dark-color);

  & .container {
    display: flex;
  }

  &__logo {
    color: var(--primary-white-color);

    display: inline-block;
    padding-bottom: 20px;
  }

  &__webs {
    // padding-top: 72px;
    // padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 72px;
    outline: 1px solid red;
  }

  &__titel {
    color: var(--primary-white-color);
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-top: 0;
  }
}
